/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: pink;
//
// body {
//   background-color: $primary-background;
// }

body {
  background: url(../../img/main-pic.jpg);
  background-size: cover;
}

#wheelo-fortune {
  color: #FFFFFF;
  display: flex;
  font-family: "Press Start 2P";
  font-size: 5rem;
  justify-content: center;
}

#title-year {
  color: #5e2f00;
  display: flex;
  font-family: "Girassol";
  font-size: 6rem;
  justify-content: center;
}

h2 {
  align-self: center;
}

.wheel-container {
  display: flex;
  justify-content: center;
  width:70%;
  height:500px;
  border: 2px solid red;
}

.wheel-1 {
  width: 15%;
  height: 500px;
  background-color: red;
  border:1px solid black;
}

.wheel-2 {
   width: 15%;
  height: 500px;
  background-color: blue;
  border:1px solid black;
}

div {
  height: 19.25%;
  border: 2px solid gold;
}

form {
  display: flex;
  justify-content: center;
}

#player-input{
  display: flex;
  justify-content: center;
  margin-left: -3%;
}

.player-div {
  display: flex;
  justify-content: space-around;
  margin-left: 3%;
}

.player {
  font-family: "Press Start 2P";
  font-size: 2rem;
  color: #DAA520;
}

.name-input {
  font-size: 1rem;
}

.start-button {
  display: flex;
  justify-content: center;
}

.start-game {
  background-color: #DAA520;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin-top: 10%;
  padding: 1%;
  width: 25%;
}

.gameboard {
  background-color: rgb(100, 200, 300);
  border-width: 7px;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(14, 60px);
  grid-gap: 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
  width: 880px;
}

aside {
  background-color: #1F1F3D;
  height: 100vh;
  position: fixed;
  width: 11%;
  margin-right: 3%;
  color: #fff;
}

.game-title {
  margin-left: 500px;
}

.letter {
  background-size: 54px 65px;
  border: 5px solid black;
  padding-top: 6px;
  height: 58px;
  width: 50px;
}

.users {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.round-num {
  font-size: 32px;
}

.new-game-btn {
  float: right;
  margin-right: 450px;
}

.letterBank {
  background: #1F1F3D;
}

table.letterBank {
  background: #1F1F3D;
  border: 5px solid black;
  height: 230px;
  width: 31%;
  float: right;
  color: #FFFFFF;
  margin-top: 25px;
  margin-right: 300px;
}

.solve {
  float:right;
  margin-top: 250px;
}
