/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: pink;
//
// body {
//   background-color: $primary-background;
// }



// @each $color in $colors {
//
// }
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url(../../img/main-pic.jpg);
  background-size: cover;
}

h2 {
  font-size: 60px;
}

#wheelo-fortune {
  color: #FFFFFF;
  display: flex;
  font-family: "Press Start 2P";
  font-size: 5rem;
  justify-content: center;
}

.main-page-sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -4%;
}

#wheel2 {
  margin-left: .5%;
}

#title-year {
  color: #5e2f00;
  display: flex;
  font-family: "Girassol";
  font-size: 6rem;
  justify-content: center;
}

.border-design{
margin-left: 29%;
}

.wheel-container {
  grid-area: right;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width:12%;
  border: 2px solid red;
}

.wheel-1-animation {
  animation-name: wheel-1-animate;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
.wheel-2-animation {
  animation-name: wheel-2-animate;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.wheel-1 {
  width: 100%;
  height: 100%;
  background-color: red;
  border:1px solid black;
  position: absolute;
  bottom:0;
}

.wheel-2 {
  width: 100%;
  height: 100%;
  background-color: blue;
  border:1px solid black;
  position: absolute;
  bottom: 100%;
}

.money-card {
  height: 11.2%;
  border: 2px solid gold;
  width: 100%;
  font-size: 30px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
}

#player-input{
  display: flex;
  justify-content: center;
  margin-left: -3%;
}

.player-div {
  display: flex;
  justify-content: space-around;
  margin-left: 3%;
}

.player {
  font-family: "Press Start 2P";
  font-size: 1.75rem;
  color: #DAA520;
}

.name-input {
  font-size: 1rem;
}

.start-button {
  display: flex;
  justify-content: center;
}

.start-game {
  background-color: #DAA520;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin-top: 10%;
  padding: 1%;
  width: 25%;
}

.start-game2 {
  background-color: #DAA520;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Press Start 2P";
  font-size: 1.5rem;
  margin-top: 3%;
  padding: 1%;
  width: 25%;
}

.instruction-header {
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P";
  font-size: 2rem;
  color: #DAA520;
}

.aunt {
  font-family: "Press Start 2P";
  font-size: 2rem;
  color: #DAA520;
  margin-left: 3%;
}

.directions {
  font-family: "Press Start 2P";
  font-size: 2rem;
  color: #DAA520;
  margin-left: 3%;
  margin-right: 2%;
}

// GAME
.game-page {
  height: 100%;
  display: grid;
  grid-template-areas: "left center right";
  // grid-template-columns:
  grid-template-columns: 1fr 8fr 1fr;
}

.game-holder {
  grid-area: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;

  h1,
  h2,
  h3,
  h4,
  th {
    color: white;
  }
}

.gameboard {
  background-color: rgb(100, 200, 300);
  border-width: 7px;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(14, 60px);
  grid-gap: 3px;
  justify-content: center;
  margin: 0 auto;
  padding: 4px;
  width: 880px;
}

.scoreboard {
  grid-area: left;
}

aside {
  background-color: #1F1F3D;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 11%;
  margin-right: 3%;
  color: #fff;
}

.letter {
  background-size: 54px 65px;
  border: 5px solid black;
  padding-top: 6px;
  height: 58px;
  width: 50px;
}

.users {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.shadow {
background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url(../../img/main-pic.jpg);
background-size: cover;
}

.round-num {
  font-size: 32px;
}

.new-game-btn {
  float: right;
  margin-right: 450px;
}

  //Letter Table
.letterBank {
  background: #1F1F3D;
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 80%;
}

section.letterBank {
  background: #1F1F3D;
  border: 5px solid black;
  float: right;
  color: #FFFFFF;
}

.solve {

}

#spin {
  position: absolute;
  right: 50%
}

.solve-input {
  float:right;
  margin-top: 300px;
  margin-left: 100px;
}

.hide-letter {
  color: #64c8ff;
}

.solve-enter {
  float:right;
  margin-top: 300px;
  margin-left: 100px;
}

.past-guesses {
float:right;
margin-top: 300px;
margin-left: 700px;
}

.solve-area {
  margin-bottom: 50px;
  margin-left: 50px;
}

.make-guess {
  position: absolute;
  right: 600px;
  top: 650px;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 32px;
}

@keyframes wheel-1-animate {
  0% {
  }

  50% {
    bottom: -100%;
  }

  50.1% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }
}
@keyframes wheel-2-animate {
  0% {
  }

  50% {
    bottom: 0px;
  }

  100%{
    bottom: -100%;
  }
}
